.statistics {
display: block;
background-color: white;
width: 60%;
height: 50%;
border-radius: 4px;
box-shadow: -0.5px 2px 8px -2px rgba(66, 73, 90, 0.75);
margin: auto;
margin-top: 80px;
}

.title{
    display: block;
    width: 100wv;
    height: 50wv;
    margin-left:auto;
    margin-right: auto;
    margin: 40px;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.statlist{
    display: flex;
}
.label,
.percentage{
  color:white;
}

.percentage{
    font-size: 25px;
}
